<div class='botoesLaterais'>
    <ul class='side-nav'>
        <li data-bind='css : { active : modoListagem }'> <a data-bind='click:setModoListagem'> <i class='fa fa-list fa-fw'></i>  Listagem </a> </li>
        <li data-bind='css : { active : modoConsumo }'> <a data-bind='click:setModoConsumo'> <i class='fa fa-check fa-fw'></i> Consumo  </a> </li>
        <li data-bind='css : { active : modoColaboracao }'> <a data-bind='click:setModoColaboracao'> <i class='fa fa-dollar fa-fw'></i> Colaborações </a> </li>
    </ul>
</div>
<div class='paineis'>
    <div class='listagem' data-bind='with:painelListagem, visible: modoListagem'>
        <div class='crud participantes' data-bind='with: participantesController'>
            <div class='list'>
                <h5> Participantes </h5>
                <ul data-bind='foreach: participantes'>
                    <li>
                        <p data-bind="visible: !editing(), text: nome, click: edit">&nbsp;</p>
                        <input data-bind="visible: editing, value: nome, hasFocus: editing"/>
                        <a data-bind='click: $parent.delete.bind(this,$data)'> <i class='fa fa-trash fa-fw'></i></a>
                    </li>
                </ul>
            </div>
            <div class='controle'>
                <input type='text' name='nomeParticipante' data-bind='value: nomeParticipante' required/>
                <a class='adicionar' data-bind='click: criaParticipante'> <i class='fa fa-plus fa-fw'></i> </a>
            </div>
        </div>
        
        <div class='crud consumiveis' data-bind='with: repository().consumivelRepository'>
            <div class='list'>
                <h5> Consumíveis </h5>
                <ul data-bind='foreach: consumiveis'>
                    <li>
                        <p data-bind="visible: !editing(), text: nome, click: edit">&nbsp;</p>
                        <input data-bind="visible: editing, value: nome, hasFocus: editing"/>
                        <a data-bind='click: $parent.delete.bind(this,$data)'> <i class='fa fa-trash fa-fw'></i></a>
                    </li>
                </ul>
            </div>
            <div class='controle'>
                <input type='text' data-bind='value: nomeConsumivel' name='nomeConsumivel' />
                <a class='adicionar' data-bind='click:criaConsumivel'> <i class='fa fa-plus fa-fw'></i> </a>
            </div>
        </div>
    </div>

    <div class='consumo' data-bind='with:painelConsumo, visible: modoConsumo'>
        <div class='crud participantes' data-bind='with: repository().participanteRepository'>
            <div class='list'>
                <h5> Participantes </h5>
                <ul data-bind='foreach: participantes'>
                    <li data-bind='css : $parents[1].getCssParticipante($data)'>
                        <p data-bind="text: nome, click: $parents[1].participanteSelecionado.bind(this,$data)"></p>
                        <div class='editControl' data-bind='visible: $parents[1].consumivelFoco'>
                            <i class='fa fa-plus fa-fw'
                                data-bind='visible: !$parents[1].isParticipanteActive($data), click: $parents[1].adicionaConsumivelAoParticipante.bind(this,$data)'>
                            </i>
                            <i class='fa fa-minus fa-fw' data-bind='visible:$parents[1].isParticipanteActive($data), click: $parents[1].removeConsumivelAoParticipante.bind(this,$data)'></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class='controle'>
                <input type='text' name='nomeParticipante' data-bind='value: nomeParticipante' required/>
                <a class='adicionar' data-bind='click: criaParticipante'> <i class='fa fa-plus fa-fw'></i> </a>
            </div>
        </div>
        <div class='crud consumiveis' data-bind='with: repository().consumivelRepository'>
            <div class='list'>
                <h5> Consumíveis </h5>
                <ul data-bind='foreach: consumiveis'>
                    <li data-bind='css : $parents[1].getCssConsumivel($data)'>
                        <p data-bind="text: nome, click: $parents[1].consumivelSelecionado.bind(this,$data)"></p>
                        <div class='editControl' data-bind='visible: $parents[1].participanteFoco'>
                            <i class='fa fa-plus fa-fw'
                                data-bind='visible: !$parents[1].isConsumivelActive($data), click: $parents[1].adicionaConsumivelAoParticipante.bind(this,$data)'>
                            </i>
                            <i class='fa fa-minus fa-fw' data-bind='visible:$parents[1].isConsumivelActive($data), click: $parents[1].removeConsumivelAoParticipante.bind(this,$data)'></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class='controle'>
                <input type='text' data-bind='value: nomeConsumivel' name='nomeConsumivel' />
                <a class='adicionar' data-bind='click:criaConsumivel'> <i class='fa fa-plus fa-fw'></i> </a>
            </div>
        </div>
    </div>

    <div class='colaboracao' data-bind='with:painelColaboracao, visible: modoColaboracao'>
        <div class='crud participantes' data-bind='with: repository().participanteRepository'>
            <div class='list'>
                <h5> Participantes </h5>
                <ul data-bind='foreach: participantes'>
                    <li data-bind='css : $parents[1].getCssParticipante($data)'>
                        <p data-bind="text: nome, click: $parents[1].participanteSelecionado.bind(this,$data)"></p>
                    </li>
                </ul>
            </div>
            <div class='controle'>
                <input type='text' name='nomeParticipante' data-bind='value: nomeParticipante' required/>
                <a class='adicionar' data-bind='click: criaParticipante'> <i class='fa fa-plus fa-fw'></i> </a>
            </div>
        </div>
        <div class='crud consumiveis' data-bind='with: repository().consumivelRepository'>
            <div class='list'>
                <h5> Consumíveis </h5>
                <ul data-bind='foreach: consumiveis'>
                    <li data-bind='css : $parents[1].getCssConsumivel($data)'>
                        <p data-bind="text: nome, click: $parents[1].consumivelSelecionado.bind(this,$data)"></p>
                    </li>
                </ul>
            </div>
            <div class='controle'>
                <input type='text' data-bind='value: nomeConsumivel' name='nomeConsumivel' />
                <a class='adicionar' data-bind='click:criaConsumivel'> <i class='fa fa-plus fa-fw'></i> </a>
            </div>
        </div>
    </div>
</div>