.concludedActivity{
	text-decoration: line-through;
}

div.login {
	background:#1ab188;
    padding: 40px;
	max-width: 600px;
	height:500px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

body.login .loginController{
	list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
}

body.login .loginController:after{
	content: "";
    display: table;
    clear: both;
}

 body.login .loginAction a {
	display: block;
    text-decoration: none;
    padding: 15px;
    background-color: black;
    color: #1ab188;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
	cursor: pointer;
} 

body.login .loginAction.active a{
	background: #443f3f;
    /* color: #ebebec; */
}

.button {
	background-color:#443f3f;
}

.button:hover,.form button:hover,button {
	background-color:#000;
}

.forgot{
	margin-top: -15px;
	text-align: right;
}

.forgot a {
	color:black;
}

.button-block{
	display: block;
    width: 100%;
}

.social-button{
	display: block;
	width: 49%;
	float: left;
	margin: 0 2px;
}

.top-bar {
	display:block;
	width: 100%;
	height:60px;
}

/* Logado */
.header{
	width:100%;
	height: 8%;
	background-color: #1ab188;
}

.header ul{
	list-style: none;
}

.header a {
	display:block;
	float: right;
	height: 100%;
	margin: 0 10px;
	color: black;
	padding: 0 10px;
}

.menu{
	width:5%;	
	height:92%;
	float: left;
	background-color:#443f3f;
	transition: width 0.2s;
	display:block;
	position: relative;
}

.menu.open {
	width: 15%;
}

.menu.open li p {
	visibility: visible;
	margin: 0 5px;
	display: inline-block;
	transition: visibility linear;
	transition-delay: 150ms;
}

.menu li a:not(.button), .menu li p{
	visibility: hidden;
	display:inline-block;
}

.menu.open a:not(.button){
	visibility: visible;
	transition: visibility linear;
	transition-delay: 150ms;
}
.menu .side-nav{
	padding:15px 0 0 5px;
}

.menu.open .side-nav {
    padding: 15px;
}

.side-nav .heading {
    color: #1798A5;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
	padding: 0.4375rem 0.875rem;
	cursor: pointer;
}

.side-nav li.heading{
	color: #1ab188;
}

.side-nav li a:not(.button) {
	color: #1ab188;
}
/* General */

.content h3, .content h4, h1,h2,h3,h4,h5{
	color:#0f5643;
}

a, th.actions,.vertical-table th , table tr th, legend, .ui-widget-content a {
	color:#1ab188;
}

a:hover, .side-nav li a:not(.button):hover{
	color:#368a55;
	
}

div.container > div {
	padding: 35px;
}

div.container {
	min-width: 85%;
	height:90%;
	position:relative;
	overflow: auto;
}

.eventos.view .editButton,.eventos.view .saveButton{
	float:right;
}

table tr th , .content h4{
	border-bottom-color:#0f5643;
}

.ui-accordion-header-icon,.ui-state-active .ui-icon, .ui-button:active .ui-icon {
	background-image: none;
}

.component-panel{
	margin: 20px 0;
	padding: 1em 2.2em;
	background-color: #fff;
	border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
	box-shadow: 10px 10px 5px 0px #d8d8d8;
}

.component-header {
	box-shadow: 10px 10px 5px 0px #d8d8d8;
}

.component-panel > div{
	margin-top: 15px;
}
/* Components */
.component-table td, .component-panel i{
	cursor: pointer;
	color:#1ab188;
}
.component-panel i{
	float: right;
	margin-top: -10px;
}

.component-panel table {
	border: 1px solid #d8d8d8;
}

.data-block {
	width: 30%;
	float: left;
	margin: 0 10px;
}

/*------- DASHBOARD -------------*/
#dashboard {
	padding: 20px;
}
#dashboard section{
	height: 300px;
	border: 1px solid #d8d8d8;
	margin: 10px 5px 0 5px;

}

#dashboard section:first{
	margin-top:0;
}

#entidades .botoesLaterais {
	float:left;
	position:relative;
	height:100%;
	width:15%;
	background-color: #f2f2f2;
	border-right: 1px solid #d8d8d8;
}

#entidades .botoesLaterais ul {
	list-style: none;
    height: 100%;
    display: block;
	margin: 0;
	padding: 0;
}

#entidades .botoesLaterais ul li {
	display: inline-block;
	height: 32%;
	clear:both;
	width: 100%;
}

#entidades .botoesLaterais a {
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: 20px;
}

#entidades .botoesLaterais li.active {
	background-color: #ebebec;
}

#entidades .botoesLaterais li.active a {
	color: #0b8060;
}

#entidades .paineis {
	float: right;
	position:relative;
	height: 100%;
	width: 85%;
} 
#entidades .paineis > div {
	height:100%;
}
#entidades .paineis .crud {
	width: 50%;
	border: 0.5px solid #d8d8d8;
	padding: 15px;
	height: 100%;
}

#entidades .paineis .crud .list {
	height: 200px;
}

#entidades .paineis .crud .list ul {
	list-style:  none;
	height: 75%;
	overflow-y: auto;
}

#entidades .paineis .crud .list li{
	padding: 10px;
	border-bottom: 1px solid #ebebec;
	cursor: pointer;
}

#entidades .paineis .crud .list li.active{
 	background-color: rgb(204, 204, 204);
}

#entidades .paineis .crud .list li:hover:not(.active){
 	background-color: #ebebec;
}

#entidades .paineis .crud .list li p {
	margin:0;
	display: inline-block;
}

#entidades .paineis .crud .list a {
	float: right;
}

#entidades .paineis .participantes {
	float:left;
}


#entidades .paineis .consumiveis {
	float:right;
}

#entidades .paineis .controle {
	height: 20%;
}

#entidades .paineis .controle input {
	float: left;
	width: 80%;
	height: 100%;
}

#entidades .paineis .controle a {
	display: inline-block;
	width: 20%;
	padding: 15px;
	height: 100%;
	border:1px solid  rgb(204, 204, 204);	
	text-align: center;
}

#entidades .paineis .controle a:hover {
	background-color:  #d8d8d8;	
}